<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon site des recettes{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100 flex flex-col min-h-screen">

<!-- Header -->
<header class="bg-blue-600 text-white py-4">
    <div class="container mx-auto text-center">
        <h1 class="text-3xl font-bold">Mon site des recettes</h1>
    </div>
</header>

<!-- Main Content -->
<main class="container mx-auto my-8 flex-grow">
    {% block body %}{% endblock %}
</main>

<!-- Footer -->
<footer class="bg-gray-800 text-white py-6 mt-auto">
    <div class="container mx-auto text-center">
        <p>&copy; {{ "now"|date("Y") }} Mon site des recettes. Tous droits réservés.</p>
        <p class="text-sm">Fait avec <span class="text-red-500">&hearts;</span> par BOUZIDIA Nassim</p>
    </div>
</footer>

</body>

</html>
